@model MvcModal.Models.User

@using (Ajax.BeginForm("Create", "User", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "usersList" }))
{
    @Html.ValidationSummary(excludePropertyErrors: true)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create user</h4>
    </div>
    <div class="modal-body">
        <fieldset>
            <div>@Html.LabelFor(model => model.Name)</div>
            <div>@Html.EditorFor(model => model.Name)</div>
            <div>@Html.LabelFor(model => model.Email)</div>
            <div>@Html.EditorFor(model => model.Email)</div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Create" id="btnSave" name="cmd" class="btn btn-primary" />
    </div>
}