@model IEnumerable<MvcModal.Models.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/Scripts/Entity.Create.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Album.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Album.Create.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            var createParams = {
                dialog: {
                    id: 'div#dialog-create-album',
                    title: 'Create album',
                    url: '@Url.Action("Create", "Album")',
                    list: 'div#albumsList'
                },
                button: {
                    create: '#btnCreate',
                    submit: '#btnSubmit',
                    cancel: '#btnCancel'
                }
            };

            MvcModal.Album.Initialize({
                create: createParams
            });
        });
    </script>
}

<h2>Albums</h2>

<p>
    @Html.ActionLink("Create new", "Create", null, new { @id = "btnCreate" })
</p>

@Html.Partial("_List", Model)

<div id="dialog-create-album" style="display: none">
</div>